/* Custom Properties */

:root {
    --clr-background:  hsl(212, 45%, 89%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-h1: hsl(218, 44%, 22%);
    --clr-p: hsl(220, 15%, 55%);

    --ff-base: font-family: 'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Gerenral Styling */

body {
    background-color: var(--clr-background);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: var(--fw-regular);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
  margin-top: 5px;
  width: 285px;
  border-radius: .75rem;
}

h1 {
  color: var(--clr-h1);
  font-size: 1.325rem;
  font-weight: var(--fw-bold);
  text-align: center;
}

p {
  color: var(--clr-p);
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  background-color: var(--clr-white);
  width: 320px;
  height: 497px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.25rem;
}


